body {
    font-family: Verdana;
    background-color: pink;
    margin-left: 30px;
    margin-right: 30px;
    cursor: url("./../assets/Untitled.png"), default;
}

.intro {
    background-image: url("./../assets/sparkles.gif");
    border-color: palevioletred;
    border-width: 3px;
    border-style: solid;
    background-color: purple;
    color: wheat;
    text-align: center;
    font-size: large;

}

#track {
    list-style-image: url("./../assets/bulletWorm.png");
}