body {
    background-color: pink;
}

.anything {
    background-image: url("./assets/sparkles.gif");
    border-color: palevioletred;
    border-width: 3px;
    border-style: solid;
    background-color: purple;
    color: wheat;
    text-align: center;
    font-size: large;
    
}

h1 {
    text-align: center;
    font-size: 75px;
}

.flex-container {
    display: flex;
    flex-flow: wrap;
    column-gap: 10px;

}

.flex-item:nth-child(odd) {
    flex: 20%;
}

.flex-item:nth-child(even) {
    flex: 75%;
    
}

#wormOTD {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

iframe {
    width:100%;
}

#navBar {
    border: #fea6ff;
    border-style: solid;
}