.worms {
    background-color: #fea6ff;
    font-family: Verdana;
    font-size: large;
    text-align: center;
    margin-left: 40%;
    margin-right: 40%;
}
.date {
    font-size: large;
    font-style: oblique;
    text-align: center;
    background-color: aliceblue;
    margin-left: 40%;
    margin-right: 40%;
    
}

body {
    background-image: url("/assets/lesbn.png");
}

main {
    background-image: url("./assets/sparkles.gif");
    border-color: palevioletred;
    border-width: 3px;
    border-style: solid;
    background-color: purple
}

h1 {
    text-align: center;
    font-size: 75px;
}

.flex-container {
    display: flex;
    flex-flow: wrap;

}

.flex-item:nth-child(odd) {
    flex: 25%;
}

.flex-item:nth-child(even) {
    flex: 75%;
}

#wormOTD {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

iframe {
    width:100%;
}