body {
    background-color: pink;
    background-image: url("/assets/lesbn.png");
}

h1 {
    text-align: center;
    font-size: 75px;
}

.flex-container {
    display: flex;
    flex-flow: wrap;
    column-gap: 10px;

}

.flex-item:nth-child(odd) {
    flex: 20%;
}

.flex-item:nth-child(even) {
    flex: 75%;
    
}

#wormOTD {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

iframe {
    width:100%;
    border: #fea6ff;
    border-style: solid;
}

#navBar {
    border: #fea6ff;
    border-style: double;
}